.forminput {
  width: 100%;
  text-align: left;
}

.text {
  color: #a27bd3;
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 2px;
}

.input {
  width: 100%;
  margin-bottom: 15px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: rgb(46, 46, 46);
  color: rgb(199, 199, 199);
}