* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

*:focus {
  outline: none;
}

.DayPickerInput {
  width: 130px;
  height: 40px;

  input {
    background: rgb(46, 46, 46);
    border: none;
    color: #a27bd3;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    height: 100%;
  }
}

.expandHeader {
  width: 220px;
}